@use "../util/mixin" as m;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include m.flexDirection(column);
  background: var(--mainBg);
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
